            /*css 주석이지롱~ */
            /*  * = 전체 선택자 */
            /* id = # class = .*/
            *{
            color: rgb(200, 36, 27);
            }
            /* tag 선택자 */
            h2{
            color: rgb(10, 51, 174); font-size: 122%
            }
            #a1{ /* 이것은 id 선택자 공식*/
            color : black;
            }

            /* class 선택자 */
            .c1{
            background-color:green;
            }
            .bicText{
            font-size: 30px; 
            }
            #div1{
            background-color : gray;
            }  /*hover = 마우스 올렸을 때만 작동함*/
            #div1:hover{
            background-color : whitesmoke;
            }
            /*클릭했을 때 작동함*/
            #div1:active{
            color:black;
            font-size: 20px;
            }
            .text2:focus{
            background-color: yellow;
            } /*누군가의 첫번 째 자식*/
            li:first-child{
            color:blue;
            }
            ul:first-child{
            font-size: 30px;
            }
            /* 실제 등장하는 요소 중 첫번 째 */
            ul:first-of-type{
            text-decoration: underline;
            }
            tr:nth-child(2n-1){
            color:black;
            background-color: rgb(200, 255, 2);
            }
            h3:after{
            content: "AFTER";
            font-size: 10px;
            color:aqua;
            }
            h3:before{
            content: "BEFORE";
            font-size: 10px;
            color:aqua;
            }
            /*다중 선택자 선택자가 가장 중요하다
            왜 y : 자바 스크립트와 연계가 되기 때문이다.*/
            /* li{
            border: 1px solid red;
            }
            h3{
            border: 1px solid red;
            } */
            li, h3, #div1{
            border: 1px solid red;
            }

            #ol > li{
            color : gray;
            }
            /* > (꺽세)는 나의 친자식들만. 하고 안하고 차이가 
            굉장히 심하다.
            띄어 쓰기는 모든 자식을 의미한다. */
            #ol > li{
            border: 1px solid black;
            }
            /* 딱 붙여 쓰면 모든 선택자를 동시에 만족하는 요소 선택*/
            ul.a.b{
            color: rebeccapurple;
            }
            /* 속성 존재 여부 */
            [href]{
            color: black;
            }
            /* 속성과 값이 모두 일치하는 요소 */
            /* #naver는 [id = naver]의 줄임말 */
            a[id=naver]{
            /*input#naver 과 같다.*/
            font-size: 30px;
            }
            [href^=hptts]{
            color:green;
            } 
            /*^는 해당 값으로 시작하는 속성과 속성 값의 요소 */

            li[data-seq^= d]{
            color:rgb(200, 36, 27);
            }
            /*      $는 해당 값으로 끝나는 속성값을 가지는 요소
            li[data-seq$= d]{
            color:rgb(200, 36, 27);
            } */

            input[type = password]:focus {
                background-color: yellow;
            }
            /*부정 선택자*/
            /*input 태그 중에서 .c3 클래스가 없는 모든 것*/
            input:not(.c3){
                color: green;
            } 
            /*속성 값 중에서 단어로 존재(공백으로 분리)
            하는 것을 찾아 줌 .c4는 [class~="c4"]의 줄임말*/
      input [class~="c4"]{
        color:green;
      }
      /*
        <input class ="c4 c5 c41">
        *는 like와 같은거다.
      */ 
      /* 속성 값에 c4가 포함되는 것을 선택 */
      /* input[class*="c4"]{
      } */
      ::selection {
        background-color: aqua;
      }

      input[type = checkbox]:checked {
        width: 50px;
        height: 50px;
      }
      input[type = checkbox]:checked + span {
        font-size: 40px;
        background-color: red;
      }
      /* 구체적일수록 우선순위가 높다.*/
      input[type = checkbox]:checked + span {
        font-size: 50px;
      }

      #s1 {
        background-color: blue;
      }

      span {
        background-color: yellow !important;
      }