@font-face {
    font-family: 'SBAggroB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 
 
#p1{
    color:blue;
    /* text-decoration: line-through red; */
    text-decoration: underline red;

    font-family: 'SBAggroB', 'Arial';
}
#a1{
    text-decoration:  none;
}

input[type=checkbox]:checked+span{
    text-decoration: line-through; 
    color :gray;  
}  
.size{
    /* 보통 16픽셀(px)이 기본사이즈다. */
    /* font-size: small; */
     font-size: 32px; 
}

.style{
    font-style: oblique;
}
 /* 모양보다는 컴퓨터 입장에선 태그가 더 중요하다 */
em{
    font-style: normal;
}

.fw-100{
    font-weight: 100;
}
.fw-400{/*기본값은 400*/
    font-weight: 400;
}
.fw-900{
    font-weight: 900;
}
.fw-2000{
    font-weight: 2000;
}/*100~900 까지만 사용 가능 그 외의 숫자는 기본값으로 변경 된다.*/

.fw-bold{
    font-weight: bold;
}
.fake-h1{
    font-size: 32px;
    font-weight: bold;
}

.align-left{
    text-align: left;
        border:1px solid blue;
}

.align-right{
    text-align: right;
        border:1px solid blue;
}
.align-center{
    text-align: center;
}
.align-justify{
    border:1px solid blue;
    text-align: align-justify;
}
.spacing{
    letter-spacing: 1.3em;
}
.lh{
    line-height: 1200%;
}
.middle{
    border:1px solid blue;
    height: 100px;
    line-height:100px;
    
    text-align: center;
}
.nowrap{
        border:1px solid blue;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .text{
    border:1px solid blue;
    width: 200px;
}

.word-wrap{
    word-wrap: break-word;
    /*한 단어가 너무 길면 튀어나가기 때문에 
    그것을 막기 위해 단어 중간에라도 엔터 쳐 주는 역할을 한다.*/
}
.word-break{
    word-break: break-all;
}

