#div{
    border: 1px solid black;
}
.block{
    border: 1px solid red;
    width:100px;
    height: 100px;
    margin: 0 auto;
}

.inline {
    border: 1px solid red;
  /*너비 높이를 줄 수 없다.
  width, height 안됨*/

  /*margin은 좌우만 되고 위 아래 안됨*/
  /*padding 역시 좌우만 되고, 위아래는 안됨. 단, border은 멀어짐*/
}

.bg_blue{
    background-color: blue;
    color: white;
}

.parent{
    border: 3px dotted purple;
    /* width: 200px; */
    width: 400%;
    font-size: 0;
}
.parent > div {
    border: 1px dashed rgb(120,120,120);
    /* width: 40%; */
    width: 200px;
    height: 50px;
    background-color: red;
    display: inline-block;
    /* inline, inline-block에만 적용이 된다. */
    box-sizing: border-box;
    vertical-align: top;
    font-size: 16px;
}
.hide{
    display: none;
}

.table{
    display: table
}
.table .td{
    display: table-cell;

    border: 1px solid red;
    height: 100px;
    width: 100px;

    vertical-align: middle;
}

